$accent: #040404;
$gray: #363636;
$gold: #9F6B08;
$header-gardient: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0.00) 100%);

$breakpoint_xxl: 1100px;
$breakpoint_xlbig: 970px;
$breakpoint_xl: 840px;
$breakpooint_xlsmall: 770px;
$breakpoint_lbig: 670px;
$breakpoint_l: 560px;
$breakpoint_mbig: 480px;
$breakpoint_m: 320px;
// $breakpoint_xxl: 1100px;